@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.slideMenu {
  width: 100vw;
  background-color: darkgrey;
  position: absolute;
  bottom: -100%;
  left: 0;
  height: 100%;
  transition: all 0.2s;
}

.outer {
  overflow: hidden;
  width: 100vw;
  height: 20vh;
  position: absolute;
  bottom: 0;
  left: 0;
}

.slideMenu.active {
  bottom: 0;
  visibility: visible;
}

.buttonList {
  list-style-type: none;
  padding: 0%;
  position: relative;
  margin: auto;
  top: 3rem;
  bottom: 2rem;
}

.indButton {
  display: inline;
  width: 100%;
}

button {
  margin-left: 5%;
  margin-right: 5%;
  width: 20%;
  border-radius: 10px;
  background-color: rgba(225, 190, 54, 1);
}
button:hover {
  background-color: green;
}

.appButton {
  position: relative;
  width: 204;
  height: 58;
  background-color: rgba(217, 217, 217, 1);
  margin: 10;
  text-align: center;
  font-size: 1rem;
  padding-left: auto;
  padding-right: auto;
}
